<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home || IEEDE</title>
    <link rel="stylesheet" href="{% static '/css/citizen_landing.css' %}" />
    <link
      rel="stylesheet"
      href="{% static '/icons/fontawesome-free-6.6.0-web/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/icons/line-awesome/css/line-awesome.min.css' %}"
    />
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}" />
    <script src="{% static '/js/code.jquery.com_jquery-3.7.1.min.js' %}"></script>
  </head>
  <body>
    <section class="sidebar" id="sidebar">
      <i class="fa-solid fa-xmark align-self-end fs-5 text-light mt-3 me-3" id="close-bar"></i>
      <img src="{% static '/img/IEEDE_logo_blue.png' %}" alt="logo" id="logo" class="side-logo" />
      <a href="/" class="side-a side-a-top" title="Dashboard"
        ><i class="fa-solid fa-gauge"></i
        ><span class="aspan">&nbsp;Dashboard</span></a
      >
      <a
        href="/personal-profile"
        class="side-a"
        title="Personal Profile"
        ><i class="fa-solid fa-user"></i
        ><span class="aspan">&nbsp;Personal&nbsp;Profile</span></a
      >
      <a
        href="/citizen-education-profile"
        class="side-a"
        title="Educational Profile"
        ><i class="fa-solid fa-user-graduate"></i
        ><span class="aspan">&nbsp;Educational&nbsp;Profile</span></a
      >
      <a href="/citizen-skillset" class="side-a"
        ><i class="fa-solid fa-bar-chart"></i>
        <span class="aspan">&nbsp;Skillset</span></a
      >
      <a
        href="/citizen-logout"
        class="side-a position-absolute"
        title="Log Out"
        style="bottom: 20px; width: 85%"
        ><i class="fa-solid fa-right-from-bracket"></i
        ><span class="aspan">&nbsp;Log&nbsp;Out</span></a
      >
    </section>
    <section class="main-body">
      <nav id="navbar">
        <i class="las la-bars" id="barswitch"></i>
        <form id="searchform">
          <input
            type="search"
            name="search"
            id="search"
            placeholder="Search...."
          />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <i class="fa-solid fa-magnifying-glass mobi-search text-light fs-5 position-absolute" style="right: 30px;" data-bs-toggle="modal" data-bs-target="#searchModal"></i>
      </nav>
      <div class="body-main">
        <div class="card c-left">
          <div class="profile-photo">
            <img src="../static/media/{{ citizen.profile_img }}" alt="people" />
          </div>
          {% comment %} <a href="/search-job" class="btn btn-primary">Search Jobs&nbsp;<i class="las la-briefcase"></i
          ></a> {% endcomment %}
        </div>
        <div href="" class="card c-right">
          <div class="c-r-body">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Name:</th>
                  <td>{{citizen.name}}</td>
                </tr>
                <tr>
                  <th scope="row">Email:</th>
                  <td>{{user.email}}</td>
                </tr>
                <tr>
                  <th scope="row">MEC ID:</th>
                  <td>{{user.username}}</td>
                </tr>
                <tr>
                  <th scope="row">Address:</th>
                  <td>{{citizen.Address}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          {% comment %} <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Register as Guardian&nbsp;<i class="las la-user-tie"></i>
          </button> {% endcomment %}
        </div>
      </div>
    </section>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      {% comment %} <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Register as Guardian
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form class="login-form" id="logform">
              <div class="input-box" id="mecform">
                <label for="mec">Name</label>
                <input
                  class="input"
                  type="text"
                  name="name"
                  id="name"
                  value="Parimal Mishra"
                  required
                />
              </div>
              <div class="input-box" id="mecform">
                <label for="mec">Email</label>
                <input
                  class="input"
                  type="email"
                  name="email"
                  id="email"
                  required
                />
              </div>
              <div class="input-box" id="phone-box">
                <label for="phone">Phone Number</label>
                <input
                  class="input"
                  type="tel"
                  name="phone"
                  id="phone"
                  pattern="[0-9]{10}"
                  title="Please enter a valid 10-digit phone number."
                  value="9186802396"
                  required
                />
              </div>

              <div class="input-box" id="father-name-box">
                <label for="father-name">MEC ID of the Student</label>
                <input
                  class="input"
                  type="text"
                  name="mecid"
                  id="mecid"
                  required
                />
              </div>

              <div class="input-box" id="father-contact-box">
                <label for="father-contact">Student phone no</label>
                <input
                  class="input"
                  type="tel"
                  name="student-contact"
                  id="student-contact"
                  pattern="[0-9]{10}"
                  value="9883441243"
                  title="Please enter a valid 10-digit phone number."
                  required
                />
              </div>
              <input
                class="btn btn-primary mt-4"
                id="otp-btn"
                type="submit"
                value="Verify"
              />
            </form>
          </div>
        </div>
      </div> {% endcomment %}
    </div>

    <div class="modal fade" id="searchModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Search</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
             <form id="searchform" class="searchform-modal">
          <input
            type="search"
            name="search"
            id="search"
            placeholder="Search...."
          />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static '/icons/fontawesome-free-6.6.0-web/js/all.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/sidebar.js' %}"></script>
  </body>
</html>
