<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IEEDE</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <section class="sec1">
            <img src="{% static '/img/cover.png' %}" class="cover" alt="cover">
            <div class="logo">
                <img src="{% static '/img/IEEDE_logo-removebg-preview.png' %}" alt="logo">
            </div>
    </section>
    <section class="sec2">
        <a href="/citizen-login" target="_blank" class="caard">
            <img src="{% static '/img/logos/citizen.png' %}" alt="citizen">
            <span>Login as a Citizen</span>
        </a>
        <a href="/institution-login" target="_blank" class="caard">
            <img src="{% static '/img/logos/organization.png' %}" alt="citizen">
            <span href="#">Login as a Institution</span>
        </a>
        <a href="#" target="_blank" class="caard">
            <img src="{% static '/img/logos/employer.png' %}" alt="citizen">
            <span href="#">Login as a Employer</span>
        </a>
    </section>
    
</body>
</html>