<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IEEDE</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <section class="sec1">
            <img src="assets/img/cover.png" class="cover" alt="cover">
            <div class="logo">
                <img src="assets/img/IEEDE_logo-removebg-preview.png" alt="logo">
            </div>
    </section>
    <section class="sec2">
        <a href="citizen_login.html" target="_blank" class="caard">
            <img src="assets/img/logos/citizen.png" alt="citizen">
            <span>Login as a Citizen</span>
        </a>
        <a href="institution_login.html" target="_blank" class="caard">
            <img src="assets/img/logos/organization.png" alt="citizen">
            <span href="#">Login as a Institution</span>
        </a>
        <a href="employer_login.html" target="_blank" class="caard">
            <img src="assets/img/logos/employer.png" alt="citizen">
            <span href="#">Login as a Employer</span>
        </a>
    </section>
    <!-- <section class="sec3">
        <h2>About IEEDE...</h2>
        <p>IEEDE is an educational platform that serves as both a learning management system (LMS) and an employment portal. It offers a wide range of educational resources and tools, allowing learners to access courses, interact with instructors, and connect with other students. Additionally, IEEDE provides job opportunities for individuals seeking employment in various fields, making it a valuable resource for both students and professionals.
</p>
    </section> -->
</body>
</html>