<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Institution Login || IEEDE</title>
    <link rel="stylesheet" href="assets/css/institution_login.css" />
    <script src="assets/js/code.jquery.com_jquery-3.7.1.min.js"></script>
  </head>
  <body>
    <section class="sec1">
      <div class="login">
        <div class="cover-pic">
          <img src="assets/img/IEEDE_logo_maroon.png" alt="login-cover" />
        </div>
        <div class="login-form-body">
          <h3>Institution Login</h3>
          <p>Enter your License no and password for successful login if you forgot your password then click on forget password.</p>
          <form class="login-form" id="inslogform">
            <div class="input-box" id="licform">
              <label for="lic">Enter License No.</label>
              <input class="input" type="number" name="lic" id="lic" />
              <span id="licerror">Invalid License No.</span>
            </div>
             <div class="input-box" id="licform">
              <label for="mec">Enter Password</label>
              <input class="input" type="password" name="psw" id="psw" />
              <div style="display: flex;justify-content: space-between;width: 100%;"><span id="pswerror">Invalid Password</span>
              <a id="forgot-pass" href="forgot_pass.html" target="_blank">Forgot Password</a></div>
            </div>
            <input class="btn" id="ins-btn" type="submit" value="Log in" />
          </form>
        </div>
      </div>
    </section>


    <script src="assets/js/login.js"></script>
  </body>
</html>
