<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home || IEEDE</title>
    <link rel="stylesheet" href="{% static '/css/citizen_landing.css' %}" />
    <link
      rel="stylesheet"
      href="{% static '/icons/fontawesome-free-6.6.0-web/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/icons/line-awesome/css/line-awesome.min.css' %}"
    />
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}" />
    <script src="{% static '/js/code.jquery.com_jquery-3.7.1.min.js' %}"></script>
  </head>
  <body class="bg-primary-subtle">
    <section class="sidebar bg-danger" id="sidebar" style="background-color: #800000!important;">
       <i class="fa-solid fa-xmark align-self-end fs-5 text-light mt-3 me-3" id="close-bar"></i>
      <img src="{% static '/img/IEEDE_logo_maroon.png' %}" alt="logo" id="logo" style="border-bottom: 3px solid #ff0000!important;" />
      <a href="/institution" class="side-a side-a-top" title="Dashboard"
        ><i class="fa-solid fa-gauge"></i
        ><span class="aspan">&nbsp;Dashboard</span></a
      >
      <a
        href="/institution-student"
        class="side-a"
        title="Students"
        ><i class="fa-solid fa-user-graduate"></i
        ><span class="aspan">&nbsp;Students</span></a
      >
      <a href="/institution-course" class="side-a" title="Department & Courses"
        ><i class="fa-solid fa-building-user"></i>
        <span class="aspan">Departments&nbsp;& Courses</span></a
      >
      <a href="/institution-result" class="side-a" title="Results"
        ><i class="fa-regular fa-note-sticky"></i>
        <span class="aspan">Results</span></a
      >
      <a href="/institution-logout" class="side-a side-a-log position-absolute" title="Log Out" style="bottom: 20px;width: 85%;"
        ><i class="fa-solid fa-right-from-bracket"></i
        ><span class="aspan">&nbsp;Log&nbsp;Out</span></a
      >
    </section>
    <section class="main-body">
      <nav id="navbar" class="bg-danger">
        <i class="las la-bars" id="barswitch"></i>
        <form id="searchform">
          <input
            type="search"
            name="search"
            id="search"
            placeholder="Search...."
          />
          <button type="submit" class="ins-search">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <i class="fa-solid fa-magnifying-glass mobi-search text-light fs-5 position-absolute" style="right: 30px;" data-bs-toggle="modal" data-bs-target="#searchModal"></i>
      </nav>
      <div class="body-main">
        <div class="card c-left gap-3 bg-transparent">
          <div class="profile-photo institution-logo">
            <img src="{% static '/img/institution_logo.png' %}" alt="people" />
          </div>
          <h2>ABCD University</h2>
          <small class="fs-6 text-center">ABCDpur, ABCD Nagar, <br>ABCD Dist, ABCD State <br> India, 700001</small>
        </div>
        <div class="card c-right border-start bg-transparent">
          <div class="c-r-body">
            <a href="/institution-student" class="cc btn btn-danger">
              <small>Total Students</small>
              <h3>30</h3>
            </a>
            <a href="/institution-course" class="cc btn btn-danger">
               <small>Total Courses</small>
                <h3>30</h3>
            </a>
          </div>
        </div>
      </div>
    </section>


    <div class="modal fade" id="searchModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Search</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
             <form id="searchform" class="searchform-modal">
          <input
            type="search"
            name="search"
            id="search"
            placeholder="Search...."
          />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static '/icons/fontawesome-free-6.6.0-web/js/all.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/sidebar.js' %}"></script>
  </body>
</html>
