<!DOCTYPE html>
<html lang="en">
  {% load  static  %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find Jobs || IEEDE</title>
    <link rel="stylesheet" href="{% static '/css/job_list.css' %}" />
    <link
      rel="stylesheet"
      href="{% static '/icons/fontawesome-free-6.6.0-web/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/icons/line-awesome/css/line-awesome.min.css' %}"
    />
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}" />
    <script src="{% static '/js/code.jquery.com_jquery-3.7.1.min.js' %}"></script>
  </head>
  <body class="bg-primary-subtle">
    <header class="d-flex py-4 justify-content-between align-items-center">
      <img src="{% static '/img/IEEDE_logo_job.png' %}" alt="logo" />
      <div class="search-box rounded">
        <form class="d-flex align-items-center">
          <div class="input d-flex gap-1 align-items-center ps-2">
            <i class="fa-solid fa-building fs-5"></i>
            <input
              class="rounded-start ps-2"
              type="search"
              name="jobsearch"
              id="jobsearch"
              placeholder="Search Company, Jobs..."
            />
          </div>

          <div class="de"></div>
          <div class="input d-flex gap-1 align-items-center ps-2">
            <i class="fa-solid fa-location-dot fs-5"></i>
            <input
              class="rounded-start ps-2"
              type="search"
              name="jobloc"
              id="jobloc"
              placeholder="Search Location..."
            />
          </div>
          <button class="btn btn-primary" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
      <a
        data-bs-toggle="modal"
        data-bs-target="#myApplicationModal"
        class="text-decoration-none d-flex align-items-center gap-2 text-light"
        ><i class="fa-solid fa-newspaper"></i>&nbsp;My Applications</a
      >
    </header>
    <div class="d-flex flex-column main">
      <div class="option d-flex justify-content-between">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01"
            >Sort By</label
          >
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="date">Date</option>
            <option value="distance">Distance</option>
            <option value="salary">Salary</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01"
            >Experience</label
          >
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="Freshers">Freshers</option>
            <option value="1">1 Year</option>
            <option value="2">2 Years</option>
            <option value="3">3 Years</option>
            <option value="4">4 Years</option>
            <option value="5">5 Years</option>
            <option value="5+">5 Years +</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01"
            >Job Type</label
          >
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="Full Time">Full Time</option>
            <option value="Part Time">Part Time</option>
            <option value="Contract">Contract</option>
          </select>
        </div>
      </div>
      <div class="card mb-3 shadow">
        <div class="row g-0">
          <div class="col-md-4 p-5">
            <img
              src="{% static '/img/institution_logo.png' %}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">ABCD Job</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                ABCD Company
              </h6>
              <div class="job-info d-flex align-items-center gap-3">
                <p
                  class="text-body-secondary d-flex align-items-center gap-1 border-end pe-3"
                >
                  <i class="fa-solid fa-money-bill"></i>
                  2-5LPA
                </p>
                <p
                  class="text-body-secondary d-flex align-items-center gap-1 border-end pe-3"
                >
                  <i class="fa-solid fa-location-dot"></i>
                  Mumbai
                </p>
                <p
                  class="text-body-secondary d-flex align-items-center gap-1 border-end pe-3"
                >
                  <i class="fa-solid fa-briefcase"></i>
                  Freshers
                </p>
                <p class="text-body-secondary d-flex align-items-center gap-1">
                  <i class="fa-solid fa-clock"></i>
                  Full Time
                </p>
              </div>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Job Description:
              </h6>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="card-text d-flex gap-3">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#viewmoreModal"
                >
                  View Details&nbsp<i class="fa-solid fa-eye"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  Apply Now&nbsp<i class="fa-solid fa-paper-plane"></i>
                </button>
              </div>
              <p class="card-text mt-2">
                <small class="text-body-secondary">Uploaded: 30/10/2024</small>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 shadow">
        <div class="row g-0">
          <div class="col-md-4 p-5">
            <img
              src="{% static '/img/institution_logo.png' %}"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">ABCD Job</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                ABCD Company
              </h6>
              <div class="job-info d-flex align-items-center gap-3">
                <p
                  class="text-body-secondary d-flex align-items-center gap-1 border-end pe-3"
                >
                  <i class="fa-solid fa-money-bill"></i>
                  2-5LPA
                </p>
                <p
                  class="text-body-secondary d-flex align-items-center gap-1 border-end pe-3"
                >
                  <i class="fa-solid fa-location-dot"></i>
                  Mumbai
                </p>
                <p
                  class="text-body-secondary d-flex align-items-center gap-1 border-end pe-3"
                >
                  <i class="fa-solid fa-briefcase"></i>
                  Freshers
                </p>
                <p class="text-body-secondary d-flex align-items-center gap-1">
                  <i class="fa-solid fa-clock"></i>
                  Full Time
                </p>
              </div>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Job Description:
              </h6>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <div class="card-text d-flex gap-3">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#viewmoreModal"
                >
                  View Details&nbsp<i class="fa-solid fa-eye"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  Apply Now&nbsp<i class="fa-solid fa-paper-plane"></i>
                </button>
              </div>
              <p class="card-text mt-2">
                <small class="text-body-secondary">Uploaded: 30/10/2024</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Job Apply</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p class="text-secondary">Your details will automatically share to the Employer.</p>
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="emailapplicant"
                  name="emailapplicant"
                  aria-describedby="emailHelp"
                  value="ayanmisra@gmail.com"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary" style="width: 100%">
                Apply
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Scrollable modal -->
    <div
      class="modal fade"
      id="viewmoreModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Job Details</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="card mb-3 border border-0">
        <div class="row g-0">
          <div class="col-md-4 p-5">
            <img
              src="{% static '/img/institution_logo.png' %}"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">ABCD Job</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                ABCD Company
              </h6>
              <div class="job-info d-flex align-items-center gap-3">
                <p
                  class="text-body-secondary d-flex align-items-center gap-1 border-end pe-3"
                >
                  <i class="fa-solid fa-money-bill"></i>
                  2-5LPA
                </p>
                <p
                  class="text-body-secondary d-flex align-items-center gap-1 border-end pe-3"
                >
                  <i class="fa-solid fa-location-dot"></i>
                  Mumbai
                </p>
                <p
                  class="text-body-secondary d-flex align-items-center gap-1 border-end pe-3"
                >
                  <i class="fa-solid fa-briefcase"></i>
                  Freshers
                </p>
                <p class="text-body-secondary d-flex align-items-center gap-1">
                  <i class="fa-solid fa-clock"></i>
                  Full Time
                </p>
              </div>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Job Description:
              </h6>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <h6 class="card-subtitle mb-2 text-body-secondary mt-4">
              Required Skills:
              </h6>
              <div class="d-flex flex-wrap gap-2 card-text" style="width: 100%;">
                <span class="text-light bg-primary p-1 px-3 rounded">Java</span>
                <span class="text-light bg-primary p-1 px-3 rounded">Python</span>
                <span class="text-light bg-primary p-1 px-3 rounded">HTML & CSS</span>
                <span class="text-light bg-primary p-1 px-3 rounded">Bootstrap</span>
                <span class="text-light bg-primary p-1 px-3 rounded">Javascript</span>
                <span class="text-light bg-primary p-1 px-3 rounded">C & C++</span>
                <span class="text-light bg-primary p-1 px-3 rounded">PHP</span>
                <span class="text-light bg-primary p-1 px-3 rounded">MySql</span>
                <span class="text-light bg-primary p-1 px-3 rounded">Ms Office</span>
            </div>
             <div class="job-info d-flex align-items-center gap-3 mt-4">
                <p
                  class="text-body-secondary d-flex align-items-center gap-1 border-end pe-3"
                >
                  <i class="fa-solid fa-users-between-lines"></i>
                  Opening: 100
                </p>
                <p
                  class="text-body-secondary d-flex align-items-center gap-1"
                >
                  <i class="fa-solid fa-users-between-lines"></i>
                  Applicant: 300
                </p>
              </div>
              <p class="card-text mt-2">
                <small class="text-body-secondary">Uploaded: 30/10/2024</small>
              </p>

              <h6 class="card-subtitle mb-2 mt-4 text-body-secondary">
                About the Company:
              </h6>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
      </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Apply Now&nbsp<i class="fa-solid fa-paper-plane"></i>
            </button>
          </div>
        </div>
      </div>
    </div>



    <div
      class="modal fade"
      id="myApplicationModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">My Applications</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
    <tr>
      <th>#</th>
      <th>Job Title</th>
      <th>Company Name</th>
      <th>Date</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>ABCD Job</td>
      <td>ABCD Company</td>
      <td>24/10/2024</td>
      <td>Pending</td>
      <td></button
                    >&nbsp;<button class="btn btn-danger">
                      Cancel
                    </button></td>
    </tr>
  </tbody>
            </table>
        </div>
      </div>
    </div>

    <script src="{% static '/icons/fontawesome-free-6.6.0-web/js/all.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/sidebar.js' %}"></script>
  </body>
</html>
